* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Serif', serif;
    background-color: #191919;
    color: #f3eaea;
    
}

.menu-principal {
    height: 10vh;
    width: 30%;
    display: flex;

}

nav {
    display: flex;
    padding-left: 40%;
}

.Portifólio {
    color: #ffffff;
    font-size: 100px;
}

.Portifólio span {
    color: #65f3f8;

}

.img-principal {

    display: flex;
    border: none;

}



header {
    margin-top: 43px;
    margin-left: 42px;

}

.menu {

    display: flex;
    line-height: 21px;
    margin-right: 32px;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background:
        linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
        linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 40% 40%, 0 40%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

}

.menu:hover,
.menu:focus {
    background-size: 0 0.1em, 100% 0.1em;
}

.sub-menu {
    font-size: 25px;
    text-align: center;

    margin-right: 32px;
    cursor: pointer;
    font-weight: 400;
    border: none;
    line-height: 15px;
    
}


.sub-menu:hover {

    color: #65f3f8
}


.Contatos>h3 {
    position: relative;
    margin-left: 48px;

}

.curriculo>a {
    margin-left: 20px;
    text-decoration: none;
    background-color: #0000ff;
    padding: 12px;
    border-radius: 8px;
}

.icon-download {
    color: #fff;
    font-size: 1.4rem;
    border-radius: 8px;
}

.icon-linkedin {
    font-size: 4rem;
}

.zap {
    font-size: 4rem;
}

.meus-projetos {
    border-radius: 12px;
    transition: transform 0.5s;
}

.meus-projetos:hover {
    transform: scale(1.1);
    transform: scale(1.1);
}

.paragrafo {

    margin: 85px 0 0 52px;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    display: grid;
    justify-content: left;

}

.img {
    margin: 85px 0 0 52px;
    border: none;
    background-color: #191919;
    display: grid;
   justify-items: center;



}

.img-tex {
    display: flex;



}


.Inicio {
    margin-top: 80px;
    margin-left: 42px;
    margin-right: 32px;

}



p1 {

    margin-left: 30px;

}

p2 {

    margin-left: 30px;
}

h3 {
    font-size: 30px;
    padding: 15px;
   display: grid;
   justify-items: center;
    
    
 

}

.Projetos p {
    font-size: 25px;
    height: 365px;
    width: 335px;

}

.Projetos {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;

    margin-top: 70px;
    cursor: pointer;
}

.titulo-projetos {
    position: relative;
    left: 28px;
}

.img {
    display: none;
}

.Contatos {

    margin-left: 40%;


}

.Contatos a :hover {
    transform: scale(1.1);
    transform: scale(1.1);
}


.habilidades {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: right;
    margin-top: 570px;
    display: grid;
    justify-items: end;



}


@media screen and (max-width: 1020px) {


nav {display: none;}

    h2.Portifólio {
        font-size: 70px;
    }

    .img-principal {
        width: 210px;
        height: 210px;
        position: absolute;
        top: 180px;
        left: 20px;
    }

    .paragrafo {
        margin-top: 300px;
        display: block;
        width: 90%;
        font-size: 16px;
        position: absolute;
        align-items: center;
    }

    .Inicio {
        width: 50%;
        text-align: right;
        position: absolute;
        right: 0;
        z-index: 10;
    }

    .titulo-projetos {
        
        margin-top:50px ;
        margin-left:110px;
        
    }

    .Projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Projetos p,
    .Projetos div {

       
        margin: 10px 0;
        margin-left:1% ;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .habilidades {
        margin-top: 650px;
        margin-left:130px;
        height: auto;
        display: flex;
        flex-direction:column;
        align-items: center;
    }


    .Contatos{
        
        margin-left:110px ;
        height: auto;
        display: flex;
       
        
    }

    .Contatos h3 {
        
        display: none;
        
    }

    .curriculo{
        margin-left: 150px;
        margin-bottom: 20px;
    }
    
    
   

}


@media (orientation: landscape) {



    .paragrafo {
        margin-top: 400px;
        width: 90%;
      
    }


    .titulo-projetos {
        
        margin-top:50px ;
        margin-left:280px;
        
    }



    .habilidades {
        margin-top: 650px;
        margin-left:290px;
        height: auto;
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .Contatos{
        
        margin-left:260px ;
        height: auto;
        display: flex;
       
        
    }

    .curriculo{
        margin-left: 290px;
        margin-bottom: 20px;
    }
}